<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/login.css'%}"
    />
  </head>

  <body>
    <div class="main">
      <div class="card">
        <form method="POST" action="{% url 'form_submit' %}" id="login-form">
           {% csrf_token %}
          <h2 class="card-title">Login</h2>
          {%if error_message %}
          <p class="error">{{error_message}}</p>
           {% endif %}
          <div>
            <label for="username">Username:</label>
            <input
              type="text"
              name="username"
              id="username"
              class="input-field"
            />
          </div>
          <br />
          <div>
            <label for="password">password:</label>
            <input type="password" name="password" id="password" class="input-field" />
          </div>
          <br />
          <div class="buttons">
            <button type="submit" class="btn"  onclick="navigateToAnotherPage1()">Login</button>
           <a href="{% url 'register' %}" class="btn">Register</a>
          </div>
        </form>
      </div>
    </div>
  </body>

<script>
   function navigateToAnotherPage() {
    window.location.href = "{% url 'register' %}";
  }

function navigateToAnotherPage1() {

    event.preventDefault();

    // Validate the form fields
    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;




    if (username && password) {
      document.getElementById('login-form').submit();
    }
  }

</script>

</html>
